[submodule "bcwc_pcie"]
	path = bcwc_pcie
	url = https://github.com/patjak/bcwc_pcie.git
[submodule "facetime-hd"]
	path = facetime-hd
	url = https://github.com/patjak/facetimehd-firmware.git
[submodule "snd_hda_macbookpro"]
	path = snd_hda_macbookpro
	url = https://github.com/davidjo/snd_hda_macbookpro.git
